#god {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 1px solid #b1966f;
  padding: 15px;
  cursor: pointer;
}

td {
	padding-left: 0 !important;
	padding-right: 0 !important;
}