<div ng-repeat='god in chosen' ng-click="removeGod($event, $index)" layout='column' flex='100'>
	<canvas class='health-bar' id='canvas-{{god.name}}-{{god.side}}' height='36' flex='90'></canvas>
	<div layout='row' class='god-card'>
		<md-card  layout="row" layout-align='space-between'  flex='70'>
			<div layout='column' flex='40' flex-offset='5'>
				<div layout='column' height='20%'>
					<span class="md-headline">{{god.name}}</span>
					<span class="md-subhead">{{god.class}}</span>
					<span class="md-subhead">{{god.type}}</span>
				</div layout='column'>
				<img src={{god.smallimg}} class="md-media-xl card-media"></img>
			</div>
			<div layout="row" flex-offset='5' layout-align="space-between">
				<div class='table-responsive'>
					<table class='table'>
						<tbody>
							<tr>
								<th>DMG</th>
								<th>{{god.damage}}</th>
							</tr>
							<tr>
								<th>ATK/S</th>
								<th>{{god.attack_msec}}</th>
							</tr>
							<tr>
								<th>SPD</th>
								<th>{{god.speed}}</th>
							</tr>
							<tr>
								<th>HP</th>
								<th>{{god.health}}</th>
							</tr>
							<tr>
								<th>MP</th>
								<th>{{god.mana}}</th>
							</tr>
							<tr>
								<th>PHY</th>
								<th>{{god.physical}}</th>
							</tr>
							<tr>
								<th>MAG</th>
								<th>{{god.magical}}</th>
							</tr>
							<tr>
								<th>RNG</th>
								<th>{{god.range}}</th>
							</tr>
							<tr>
								<th>PROT PHYS</th>
								<th>{{god.physicalprotection}}</th>
							</tr>
							<tr>
								<th>PROT MAG</th>
								<th>{{god.magicalprotection}}</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<md-list flex='30'>
				<md-list-item ng-click='god.DeEquip($index); $event.stopPropagation();'' ng-repeat='item in god.equipment'>
					<img ng-src={{item.image}} class='md-avatar'/>
					<h3>{{item.name}}</h3>
				</md-list-item>
			</md-list>
		</md-card>
		<md-content class='god-card' flex>
			<md-list-item class='md-3-line' ng-repeat='item in items' ng-click='god.Equip(item); $event.stopPropagation();'>
				<img ng-src={{item.image}} class='md-avatar'/>
				<div class='md-list-item-text' layout='column'>
					<h3>{{item.name}}</h3>
					<h4 ng-repeat='pro in item.pros'>{{pro}}</h4>
				</div>
			</md-list-item>
		</md-content>
	</div>
</div>