navbar {
	z-index: 60;
	height: 65px;
	background: transparent;
	border-top: 1px solid #E5E5E5;
	background-color: white;
}



.header-txt{

	z-index: 60;
	border-top: 1px solid #E5E5E5;
	background-color: white;
}
