$hovercolor: rgba(158,158,158,0.2);

.fltr-btn {
	line-height: 100%;
	margin: 1%;
	padding: 2%;
	min-width: 0;
	min-height: 0;
	max-height: 100%;
	:hover {
		background-color: $hovercolor;
	}
}
.active-fltr {
	background-color: darken($hovercolor, 60%);
}

item-filter {
	min-height: 150px;
	margin: 5% 0%;
}

god-filter {
	min-height: 150px;
}

.filtr-header {
	text-align: center;
	margin: 2% 0%;
}

.filtr-input {
	padding: 0 0;
	line-height: 10%;
	font-size: 14px;
}