<div layout='column'>
	<div flex="grow" layout='row' layout-align='center center' layout-padding>
		<span class="filtr-header">FILTERS</span>
	</div>
	<div flex="grow" layout='row' layout-align='center center' ng-click='filter($event); $event.stopPropagation();' layout-padding>
		<md-button ng-class="search.filter==='Mage' ? 'active-fltr' : 'md-raised'"  class='fltr-btn' ng-click='search.filter = "Mage"'>MAG</md-button>	
		<md-button ng-class="search.filter==='Hunter' ? 'active-fltr' : 'md-raised'" class='fltr-btn' ng-click='search.filter = "Hunter"'>HUN</md-button>	
		<md-button ng-class="search.filter==='Warrior' ? 'active-fltr' : 'md-raised'" class='fltr-btn' ng-click='search.filter = "Warrior"'>WAR</md-button>	
		<md-button ng-class="search.filter==='Assassin' ? 'active-fltr' : 'md-raised'" class='fltr-btn' ng-click='search.filter = "Assassin"'>ASSN</md-button>	
		<md-button ng-class="search.filter==='Guardian' ? 'active-fltr' : 'md-raised'" class='fltr-btn' ng-click='search.filter = "Guardian"'>GUA</md-button>	
	</div>
	<div flex="grow" layout='row' layout-align='center center' layout-padding >
		<input class='filtr-input' ng-model="search.text" placeholder='Name of God'></label>
	</div>
	<div flex="grow" layout='row' layout-align='center center' layout-padding >
		<md-button class='fltr-btn md-raised' ng-click='clearFilter(); $event.stopPropagation()'>Clear Filters</md-button>	
	</div>
</div>
<div layout='column'>
	<div flex="" layout='row' layout-align='center center' layout-padding>
		<div class="filtr-header">SORT</div>
	</div>
	<div flex="grow" layout='row' layout-align='space-between center' layout-padding ng-click='sort($event); $event.stopPropagation();' justify-content='space-between'>
		<md-button ng-class="search.order==='damage' ? 'active-fltr' : 'md-raised'" data-stat='damage' class='fltr-btn'>DMG</md-button>	
		<md-button ng-class="search.order==='attack_msec' ? 'active-fltr' : 'md-raised'" data-stat='attack_msec' class='fltr-btn'>ATK/s</md-button>	
		<md-button ng-class="search.order==='speed' ? 'active-fltr' : 'md-raised'" data-stat='speed' class='fltr-btn'>SPD</md-button>	
		<md-button ng-class="search.order==='health' ? 'active-fltr' : 'md-raised'" data-stat='health' class='fltr-btn'>HP</md-button>	
		<md-button ng-class="search.order==='mana' ? 'active-fltr' : 'md-raised'" data-stat='mana' class='fltr-btn'>MP</md-button>	
		<md-button ng-class="search.order==='physical' ? 'active-fltr' : 'md-raised'" data-stat='physical' class='fltr-btn'>PHY</md-button>	
		<md-button ng-class="search.order==='magical' ? 'active-fltr' : 'md-raised'" data-stat='magical' class='fltr-btn'>MAG</md-button>	
	</div>
	<div flex="grow" layout='row' layout-align='center center' layout-padding>
		<md-button class='fltr-btn md-raised' ng-click='clearSort(); $event.stopPropagation();'>Clear Sort</md-button>	
	</div>
</div>
