$hovercolor: rgba(158,158,158,0.2);

.fltr-btn {
	margin: 0 0;
	padding: 0 2%;
	width: auto;
	min-width: 0;
}
.actv-fltr {
	background-color: darken($hovercolor, 60%);
}

input{
	text-align: center;
}