.god-card {
	height: 520px;
}

.item-card {
	max-height: 30vh;
}

.item-header {
	overflow-wrap: break-word;
	overflow: visible !important;
	white-space: normal !important;
}

.item-image {
	content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .3;
	background-position: center;
	background-size: contain;
	background-color: #000000;
	background-repeat: no-repeat;
}

.item-description {
	position: relative;
    z-index: 1;
    width: 100%;
}

.item-property {
	padding: 0;
	margin: 0;
}
.hp-bar {
	font-size: 18px;
	padding: 5px 0px;
	z-index: 1;
	position: absolute;
}